<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="mobile_base_chassis" params="prefix">
    <link name="${prefix}base_footprint"/>

    <joint name="${prefix}base_footprint_to_base_link_joint" type="fixed">
      <parent link="${prefix}base_footprint"/>
      <child link="${prefix}base_link"/>
      <origin xyz="0 0 ${base_link_height}" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}base_link">
      <visual>
        <geometry>
          <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
        </geometry>
        <material name="base_dark"/>
      </visual>
      <collision>
        <geometry>
          <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
        </geometry>
      </collision>
      <xacro:box_inertial mass="${chassis_mass}"
                          x="${chassis_length}" y="${chassis_width}" z="${chassis_height}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:box_inertial>
    </link>
  </xacro:macro>
</robot>
