<?xml version="1.0"?>
<robot name="mobile_base" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_gazebo" default="false"/>
  <xacro:arg name="controllers_file" default=""/>
  <xacro:arg name="roller_joint_damping" default="0.0"/>
  <xacro:arg name="roller_joint_friction" default="0.0"/>
  <xacro:arg name="roller_contact_mu" default="1.0"/>
  <xacro:arg name="roller_collision_model" default="barrel"/>
  <xacro:arg name="front_left_roller_phase" default="0.22193969"/>
  <xacro:arg name="front_right_roller_phase" default="0.48030419"/>
  <xacro:arg name="rear_right_roller_phase" default="0.19668582"/>
  <xacro:arg name="rear_left_roller_phase" default="0.24790784"/>

  <xacro:include filename="materials.xacro"/>
  <xacro:include filename="inertials.xacro"/>
  <xacro:include filename="properties.xacro"/>
  <xacro:include filename="chassis.xacro"/>
  <xacro:include filename="macros/mecanum_rollers.xacro"/>
  <xacro:include filename="macros/mecanum_wheels.xacro"/>
  <xacro:include filename="base.xacro"/>
  <xacro:include filename="camera.xacro"/>
  <xacro:include filename="lidar.xacro"/>
  <xacro:include filename="imu.xacro"/>
  <xacro:include filename="mobile_base.ros2_control.xacro"/>
  <xacro:include filename="mobile_base.gazebo.xacro"/>
  <xacro:include filename="camera.gazebo.xacro"/>
  <xacro:include filename="lidar.gazebo.xacro"/>
  <xacro:include filename="imu.gazebo.xacro"/>

  <xacro:mobile_base_assembly prefix="$(arg prefix)"/>
  <xacro:mobile_base_camera prefix="$(arg prefix)"/>
  <xacro:mobile_base_lidar prefix="$(arg prefix)"/>
  <xacro:mobile_base_imu prefix="$(arg prefix)"/>

  <xacro:mobile_base_ros2_control
    prefix="$(arg prefix)"
    use_gazebo="$(arg use_gazebo)"
    controllers_file="$(arg controllers_file)"/>

  <xacro:if value="$(arg use_gazebo)">
    <xacro:mobile_base_gazebo controllers_file="$(arg controllers_file)"/>
    <xacro:mobile_base_camera_gazebo prefix="$(arg prefix)"/>
    <xacro:mobile_base_lidar_gazebo prefix="$(arg prefix)"/>
    <xacro:mobile_base_imu_gazebo prefix="$(arg prefix)"/>
  </xacro:if>
</robot>
